@font-face {
    font-family: myCustom;
    src: url(./font/Katerlin-51zjB.ttf);
}
@font-face {
    font-family: second;
    src: url(./font/DancingScript-VariableFont_wght.ttf);
}

@font-face{
    font-family: rochester;
    src: url(./font/Katerlin-51zjB.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: .3;
    background:linear-gradient(to bottom, rgba(230, 224, 224, 0.3) 0%, rgba(252, 9, 134, 0.57) 100%);
    
}
#home{
    width: 100%;
    height: 100%;
    background: url(./images/alvin-mahmudov-9_XfcBxf_uo-unsplash.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #d291bc;
    opacity: 1;
    text-transform: uppercase;
    /* position: fixed; */
}
.head1{
    width: 20%;
    height: 50px;
    font-size: 22px;
    margin: auto;
    margin-top: 12px;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head1:hover{
    color: #53103d;
}
.navbar{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 12px;
    margin-left: 15px;
}
a{
    position: relative;
    color: #cc6dac;
    margin: 0 11px;
    font-size: small;
    transition: .5s;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 5px;
    letter-spacing: 0.7px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #d291bc;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
a:hover{
    color: #fff;
}
a:hover::after{
    width: 100%;

}
   
.container {
    width:100%;
    /* height: 100%; */
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px 0px 0 00px;
}
.outercon{
    width: 100%;
    height:60%;
    text-align: center;
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.imginnercon{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imgbox{
    width:150px;
    height: 150px;
    background-color: #d291bc;
    border-radius: 50%;
    border: #fff 3px solid;
    background-position: fixed;
    background-size: cover;
}
img{
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nameinnercon{
    width: 100%;
    height: 30%;
    /* background-color: burlywood; */
    /* border: 2px solid pink; */
    align-content: center;
    margin-top: 20px;
}
h1{
    font-size: 8em;
    color: #fff;
    font-weight: bolder;
    font-family: 'second';
}
.text1con{
    width: 100%;
    /* height: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
p{
    width: 30%;
    height: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d291bc;
    padding: 9px 15px;
    letter-spacing: 6px;
    background: #fff;
    border-radius: 2px;
    font-family: emoji;
}

#clockdiv{
    color:#ffffffda;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 30%; 
    text-align: center;
    font-size: 30px;
    /* margin: -100px 0 0 0; */
    /* background-color: beige; */
}

#clockdiv > div{
    padding:  40px 60px;
    border-radius: 3px;
    background-color: #d375b4;
    display: inline-block;
    margin-top: -200px;
   outline: 3px dashed #c28db0;
    z-index: 2;
}
#clockdiv div > span{
    padding: 0px;
    border-radius: 3px;
    /* background: #82589f;
    display: inline-block; */
}
.text{
    padding-top: 15px;
    font-size: 16px;
    font-family: second;
} 
#groom-bride{
        width: 100%;
        height: 100%;
        /* background-color: beige; */
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
}

.container2{
    width:80%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-self: center;
    /* position: absolute; */
    /* background-color: #53103d; */
}
.outer2{
    width: 100%;
    height:30%;
    text-align: center;
    
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.subhead{
    width: 23%;
    height: auto;
    display: inline;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #bd559a;
    padding: 9px 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px dashed #d291bc;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.subhead2{
    width: 40%;
    height: auto;
    display: inline;
    margin-bottom: 10px;
}
h3{
    font-size: 45px;
    color: #bd559a;
    font-weight: bolder;
    font-family: serif;
    letter-spacing: 1px;
}
.groom-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.textarea{
    width: 70%;
    height: 89%;
    float: left;
}
.groomtext{
    font-size: 35px;
    text-align: right;
    text-decoration: line-through 1px #fff;
    color: #bd559a;
    font-weight: 600;
    font-family: none;
    margin: 60px 50px 0 0;
}
.gtext{
    /* width: 40%; */
    padding: 30px 40px;
    font-size: 15px;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    color: darkgray;
    font-family: none;
    letter-spacing: 0;
    line-height: 35px;
}
.groomimgpart{
    width: 30%;
    height: 80%;
    float: right;
    background-color: #c28db0;
    margin-top: 35px;

}
.groomimg{
    width: 100%;
    height: 100%;
    background: url(images/groom1.jpg)no-repeat;
    background-size: cover;
    border: 12px solid #b95799;
}
.bird-logo{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.logo-box{
    width:150px;
    height: 150px;
    border-radius: 50%;
    border: #fff 3px solid;
    background: url(images/bird-logo.png)no-repeat;
    background-size: cover;
    
}
.bride-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.textarea{
    width: 70%;
    height: 89%;
    float: left;
}
.bridetext{
    font-size: 35px;
    text-decoration: line-through 1px #fff;
    text-align: left;
    color: #bd559a;
    font-weight: 600;
    font-family: none;
    margin: 41px 0 0 30px;
}
.btext{
    /* width: 40%; */
    padding: 30px 40px;
    font-size: 15px;
    width: fit-content;
    text-align: center;
    text-transform: capitalize;
    color: darkgray;
    font-family: none;
    letter-spacing: 0;
    line-height: 35px;
}
.brideimgpart{
    width: 30%;
    height: 80%;
    float: left;
    background-color: #c28db0;
    margin-top: 35px;

}
.brideimg{
    width: 100%;
    height: 100%;
    background: url(images/bride1.jpg)no-repeat;
    background-size: cover;
    border: 12px solid #b95799;
}