@font-face {
    font-family: myCustom;
    src: url(./font/Katerlin-51zjB.ttf);
}
@font-face {
    font-family: second;
    src: url(./font/DancingScript-VariableFont_wght.ttf);
}

@font-face{
    font-family: rochester;
    src: url(./font/Katerlin-51zjB.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: .3;
    background:linear-gradient(to bottom, rgba(230, 224, 224, 0.3) 0%, rgba(252, 9, 134, 0.57) 100%);
    
}
#home{
    width: 100%;
    height: 100%;
    background: url(./images/alvin-mahmudov-9_XfcBxf_uo-unsplash.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #d291bc;
    opacity: 1;
    text-transform: uppercase;
    /* position: fixed; */
}
.head1{
    width: 20%;
    height: 50px;
    font-size: 22px;
    margin: auto;
    margin-top: 12px;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head1:hover{
    color: #53103d;
}
.navbar{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 12px;
    margin-left: 15px;
}
.navbar a{
    position: relative;
    color: #cc6dac;
    margin: 0 11px;
    font-size: small;
    transition: .5s;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 5px;
    letter-spacing: 0.7px;
}
.navbar a:after{
    content: "";
    position: absolute;
    background-color: #d291bc;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    
}
.navbar a:hover::after {
    color: #fff;
}
.navbar a:hover::after{
    width: 100%;
    
}
   
.container {
    width:100%;
    /* height: 100%; */
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px 0px 0 00px;
}
.outercon{
    width: 100%;
    height:60%;
    text-align: center;
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.imginnercon{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imgbox{
    width:150px;
    height: 150px;
    background-color: #d291bc;
    border-radius: 50%;
    border: #fff 3px solid;
    background-position: fixed;
    background-size: cover;
}
img{
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nameinnercon{
    width: 100%;
    height: 30%;
    /* background-color: burlywood; */
    /* border: 2px solid pink; */
    align-content: center;
    margin-top: 20px;
}
h1{
    font-size: 8em;
    color: #fff;
    font-weight: bolder;
    font-family: 'second';
}
.text1con{
    width: 100%;
    /* height: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.text1con p{
    width: 30%;
    height: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d291bc;
    padding: 9px 15px;
    letter-spacing: 6px;
    background: #fff;
    border-radius: 2px;
    font-family: 'dancing';
}

#clockdiv{
    color:#ffffffda;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    /* height: 30%;  */
    text-align: center;
    margin: -100px 0 0 0;
    /* background-color: beige; */
}

#clockdiv > div{
    padding:  50px 75px;
    border-radius: 3px;
    background-color: #d375b4;
    display: inline-block;
    /* margin-top: -200px; */
    outline: 3px dotted #c28db0;
    font-size: 22px;
    font-family: 'second';
    z-index: 2;
}
#clockdiv div > span{
    padding: 0px;
    border-radius: 3px;
    /* background: #82589f;
    display: inline-block; */
}
.text{
    padding-top: 25px;
    
} 

/* page 2 -- groom-bride section */
#groom-bride{
        width: 100%;
        height: 200%;
        /* background-color: beige; */
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
}

.container2{
    width:80%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-self: center;
    
    /* position: absolute; */
    /* background-color: #53103d; */
}
.outer2{
    width: 100%;
    height:30%;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.subhead{
    width: 23%;
    height: auto;
    display: inline;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #bd559a;
    padding: 9px 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px dashed #d291bc;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.subhead2{
    width: 40%;
    height: auto;
    display: inline;
    margin-bottom: 10px;
}
h3{
    font-size: 45px;
    color: #bd559a;
    font-weight: bolder;
    font-family: serif;
    letter-spacing: 1px;
}
.groom-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.textarea{
    width: 70%;
    height: 100%;
    float: left;
}
.groomtext{
    font-size: 35px;
    text-align: right;
    text-decoration: line-through 1px #fff;
    color: #bd559a;
    font-weight: 600;
    font-family: none;
    margin: 60px 50px 0 0;
}
.gtext p{
    /* width: 40%; */
    padding: 0px 60px;
    margin-top: 20px;
    font-size: 15px;
    width: fit-content;
    text-align: right;
    text-transform: capitalize;
    color: darkgray;
    font-family: none;
    letter-spacing: 0;
    line-height: 35px;
}
.groomimgpart{
    width: 30%;
    height: 100%;
    float: right;
    background-color: #c28db0;
    /* margin-top: 35px; */

}
.groomimg{
    width: 100%;
    height: 100%;
    background: url(images/groom1.jpg)no-repeat;
    background-size: cover;
    border: 12px solid #b95799;
}
.bird-logo{
    width: 35%;
    float: right;
}
.logo-box{
    width:150px;
    height: 150px;
    /* border-radius: 50%;
    border: #fff 3px solid; */
    background: url(images/bird-logo.png)no-repeat;
    background-size: cover;
    
}
.bride-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   
    
}
.textarea{
    width: 70%;
    height: 100%;
    float: left;
}
.bridetext{
    font-size: 35px;
    text-decoration: line-through 1px #fff;
    text-align: left;
    color: #bd559a;
    font-weight: 600;
    font-family: none;
    margin: 41px 0 0 55px;
}
.btext p{
    /* width: 40%; */
    padding: 0px 60px;
    font-size: 15px;
    margin-top: 20px;
    width: fit-content;
    text-align: left;
    text-transform: capitalize;
    color: darkgray;
    font-family: none;
    letter-spacing: 0;
    line-height: 35px;
}
.brideimgpart{
    width: 30%;
    height: 100%;
    float: left;
    background-color: #c28db0;
    /* margin-top: 35px; */

}
.brideimg{
    width: 100%;
    height: 100%;
    background: url(images/bride1.jpg)no-repeat;
    background-size: cover;
    border: 12px solid #b95799;
}
#our-story{
    
        width: 100%;
        height: 200%;
        background: url(./images/couple1.jpg)no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
        /* margin-top: 30%; */
        display: flex;
        justify-content: center;
        align-items: center;
}
.container3{
    width: 90%;
    height: 100%;
    /* margin-top: 20px; */
    /* background-color: yellowgreen; */
}
.outer3{
    width: 100%;
    height:15%;
    text-align: center;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.lovehead{
    width: 12%;
    height: auto;
    display: inline;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #bd559a;
    padding: 9px 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px dashed #d291bc;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.lovehead2 h2{
    width: 40%;
    height: auto;
    display: inline;
    margin-bottom: 10px;
    font-size: 45px;
    color: #bd559a;
    font-weight: bolder;
    font-family: 'second';
    letter-spacing: 1px;
}

.story-part1{
    width: 100%;
    height:20%;
    /* background-color: #d375b4; */
}
.story1{
    width:50%;
    height: 100%;
    background-color: #c574aa;
    outline: 2px double #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
   
}
.date1{
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    font-family: 'second';
    letter-spacing: 1px; 
    text-align: right;
    text-transform: capitalize;
    margin-right: 60px;
    /* margin-top: 45px; */
}
.story1 h4{
    font-size: 53px;
    color: #fff;
    font-weight: bolder;
    font-family: 'second';
    letter-spacing: 1px;
    text-align: right;
    margin-right: 58px;
    /* margin-top: 5px; */
}
.story-txt p{
    width: 90%;
    height: 90%;
    text-align: right;
    background-color: #c574aa;
    color: #fff;
    /* line-height: 10px; */
    /* letter-spacing: 1; */
    text-transform: capitalize;
    font-family: 'none';
    font-size: 22px;
}
.story2{
    width:50%;
    height: 100%;
    background-color: #c574aa;
    border: 2px double #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    padding-bottom: 10px; 
}
.story2 h4{
    font-size: 53px;
    color: #fff;
    font-weight: bolder;
    font-family: 'second';
    letter-spacing: 1px;
    text-align: right;
    margin-right: 58px;
    /* margin-top: 5px; */
}
#greetings{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container4{
    width: 100%;
    height: 100%;
    /* background-color: rgba(224, 228, 217, 0.856); */
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outer4{
    width: 100%;
    height:50%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.greetings-head{
    width: 12%;
    height: auto;
    display: inline;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #bd559a;
    padding: 9px 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px dashed #d291bc;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.greetings-head2 h2{
    color: #bd559a;
    font-size: 80px;
    font-family: 'second';
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    /* background-color: #333; */
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
}
.card-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 320px;
    height: 320px;
    border-radius: 25px;
    background-color: #bd559a;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}
.span-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: beige;
    border-radius: 25px 25px 0 25px;
}
.span-overlay::before,
.span-overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: beige;
}
.span-overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #bd559a;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #bd559a;
}
.name{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 5px;

}
.description {
    font-size: 14px;
    color: #ffffffd7;
    text-align: center;
}

#bridesmaid-groomsmen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container5{
    width: 100%;
    height: 100%;
    background-color: rgba(224, 228, 217, 0.856);
    /* padding-top: 30px; */
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outer5{
    width: 100%;
    height:30%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.frd-head{
    width: 20%;
    height: auto;
    display: inline;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #bd559a;
    padding: 9px 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px dashed #d291bc;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.frd-head2 h2{
    color: #bd559a;
    font-size: 80px;
    font-family: 'second';
}
.photo-container{
    max-width: 1120px;
    width: 100%;
    /* background-color: #333; */
    padding: 20px 0;
}
.photo-content{
    margin: 0 10px;
}
.photo-wrapper{
    display: flex;
    justify-content: space-between;
}
.photo{
    width: 200px;
    height: 250px;
    background-color: #bd559a;
}
.box-img{
    width: 100%;
    height: 70%;
    border: 5px solid #bd559a;
}
.photo h3{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 18px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'second';
}
.photo p{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'san serif';
}
#when-where{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #53103d; */
}
.container6{
    width: 90%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-image{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}
.big-img{
    width: 100%;
    height: 95%;  
    border: 5px solid #b95799; 
}
.outer-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: red; */
}
.outer6{
    width: 100%;
    height: auto;
    /* background-color: bisque; */
    text-align: center;
    padding-top: 60px; 
    padding-bottom: 30px;  
}
.pln-head{
    width: 20%;
    height: auto;
    display: inline;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #bd559a;
    padding: 9px 5px;
    letter-spacing: 2px;
    border: 2px dashed #d291bc;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.pln-head2 h2{
    color: #bd559a;
    font-size: 60px;
    font-family: 'second';
    margin-top: 30px; 
}
.venue{
    text-align: center;
    padding-inline: 20px;
}
.ceremony-part{
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 20px;
    /* border: 3px solid #b95799; */
}
.charch-img{
    border-radius: 50%;
    border: 2px solid #c28db0;
}
.ceremony-part h3{
    color: #333333de;
    font-size: 34px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}
p{
    text-align: center;
    font-size: 17px;
    color: #333333de;
    padding-top: 10px;
}
.no{
    margin: 20px;
}
.no a{
    text-align: center;
    font-size: medium;
    color: #d493bf;
    text-decoration: none;
    margin-bottom: 20px;
}
.btn-custom a{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #b95799;
    border: 1px solid #f0d9e8;
    display: inline;
    padding: 8px 10px;
    text-decoration: none;
}
.reception-part{
    width: 50%;
    height: 100%;
    float: right;
    padding: 0 20px;
    /* border: 3px solid #b95799; */
}
.reception-part h3{
    color: #333333de;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}